<div class="col-12 d-flex justify-content-between py-3" data-aos="fade-up" data-aos-duration="800">
  <h3>Pizzas List</h3>
  <button class="btn btn-pz-primary" data-bs-toggle="modal" data-bs-target="#addPizza" (click)="getToppings()">Add new Pizza</button>
</div>
<div class="table-responsive col-12" data-aos="fade-up" data-aos-duration="800">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nro</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Price in $</th>
        <th scope="col col-actions">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pizza of pizzas; ; let i = index" [attr.data-index]="i">
        <th scope="row">{{i + 1}}</th>
        <td>{{pizza.name}}</td>
        <td>{{pizza.description}}</td>
        <td>{{pizza.price}}</td>
        <td class="col-actions">
          <div class="">
            <span class="material-icons-outlined icon-18 cursor-pointer icon-edit"
              (click)="onSelectPizza(pizza)" data-bs-toggle="modal" data-bs-target="#updatePizza">edit</span>
            <span class="material-icons-outlined icon-18 cursor-pointer icon-delete" 
              (click)="onSelectPizza(pizza)" data-bs-toggle="modal" data-bs-target="#deletePizza">delete</span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="modal fade" id="addPizza" 
  data-bs-backdrop="static"
  data-bs-keyboard="false" 
  tabindex="-1"
  aria-labelledby="addPizzaLabel" aria-hidden="true">
  <app-pizza-add
    [dropdownList]="listToppings"
    (responsePizzaPost)="addPizzaToList($event)"
  ></app-pizza-add>
</div>

<div class="modal fade" id="deletePizza" 
  data-bs-backdrop="static"
  data-bs-keyboard="false" 
  tabindex="-1"
  aria-labelledby="deletePizzaLabel" aria-hidden="true">
  <app-delete-confirmation
    [modalData]="modalData"
    (confirmDelete)="deletePizza($event)"
  ></app-delete-confirmation>
</div>

<div class="modal fade" id="updatePizza" 
  data-bs-backdrop="static"
  data-bs-keyboard="false" 
  tabindex="-1"
  aria-labelledby="updatePizzaLabel" aria-hidden="true">
  <app-pizza-update
    [pizza]="pizzaSelected"
    [toppings]="toppingSelector"
    [dropdownList]="listToppings"
    (responsePizzaPut)="updatePizzaToList($event)"
  ></app-pizza-update>
</div>