<div class="modal-dialog modal-dialog-centered" #modal>
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="addtoppingLabel">Register a new Topping</h4>
    </div>
    <div class="modal-body">
      <form #f="ngForm" [formGroup]="form">
        <div class="mb-3" [ngClass]="displayFieldCss('nameValidator')">
          <label class="form-label">Name <span class="field_requiered">*</span></label>
          <input type="text" 
            formControlName="nameValidator"
            [(ngModel)]="topping.name" class="form-control">
          <app-field-error-display 
            [displayError]="isFieldValid('nameValidator')" 
            errorMsg="A valid topping name is requiered. (Max 50 characters)">
          </app-field-error-display>
        </div>
        <div class="mb-3" [ngClass]="displayFieldCss('descriptionValidator')">
          <label class="form-label">Description <span class="field_requiered">*</span></label>
          <textarea type="text"
            formControlName="descriptionValidator"
            [(ngModel)]="topping.description" class="form-control"></textarea>
          <app-field-error-display 
            [displayError]="isFieldValid('descriptionValidator')" 
            errorMsg="A short description for the topping is requiered. (Max 150 characters)">
          </app-field-error-display>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-pz-modal-secondary" #closebutton (click)="resetFormValidators()" data-bs-dismiss="modal">Cancel</button>
      <button type="submit" class="btn btn-pz-modal-primary" (click)="onSubmit()">Create</button>
    </div>
  </div>
</div>