<div class="container" data-aos="fade-up" data-aos-duration="800">
  <div class="row justify-content-around">
    <div class="col-lg-5 col-sm-12 container__header-information d-flex">
      <div class="header-information m-auto">
        <h1 [innerHtml]="heroMock.title"></h1>
        <p class="py-3">{{heroMock.description}}</p>
        <button class="btn btn-pz-primary" (click)="navigateTo(heroMock.button.url)">{{heroMock.button.label}}</button>
      </div>
    </div>
    <div class="col-lg-7 col-sm-12 container__header-image">
      <img [src]="heroMock.imageUrl" class="w-100 h-100 img-fluid img-hero" alt="">
    </div>
  </div>
</div>