@import "../../../assets/styles/colors.scss";
@import "../../../assets/styles/variable.scss";

.navbar-container {
  height: 15vh;
  max-height: 350px;
  background-color: $primary-color !important;
}

.icon {
  height: 5vh;
  max-height: 50px;
}

.container-icon {
  color: $white-color;
}

.logo-text {
  font-size: 24px;
  font-weight: $font-weight-bold;
}

.pizza-label {
  color: $secondary-color;
}

.store-label {
  color: $third-color;
}

.navbar-container__navigation {
  gap: 8px;
}

.navigation-item {
  color: $third-color;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
}

.selected {
  color: $secondary-color;
  border-bottom: 2px solid $secondary-color;
}

@media (max-width: 600px) {
  .navbar-container {
    height: 20vh;
    max-height: 350px;
  }
}
