<div class="navbar-container">
  <div class="row p-0 m-0">
    <div class="col-12 d-flex w-100 justify-content-center">
      <div class="container-icon d-flex">
        <p class="m-auto mx-1 logo-text pizza-label">{{navigation.pizzaLabel}}</p>
        <img [src]="navigation.logoUrl" class="my-3 icon m-auto" alt="">
        <p class="m-auto mx-1 logo-text store-label">{{navigation.storeLabel}}</p>
      </div>
    </div>
    <div class="col-12 d-flex">
      <div class="navbar-container__navigation m-auto">
        <a [class.selected]="item === itemSelected" (click)="onSelectItem(item)" 
          class="navigation-item mx-3"
          *ngFor="let item of items">{{item.name}}</a>
      </div>
    </div>
  </div>
</div>