<div class="modal-dialog modal-dialog-centered" *ngIf="modalData">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="addPizzaLabel">{{modalData.title}}</h4>
    </div>
    <div class="modal-body">
      <p [innerHtml]="modalData.content"></p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-pz-modal-secondary" data-bs-dismiss="modal">Cancel</button>
      <button type="button" class="btn btn-pz-modal-primary" data-bs-dismiss="modal" (click)="submitDelete()">Confirm</button>
    </div>
  </div>
</div>