@import '../../../../assets/styles/colors.scss';
@import '../../../../assets/styles/variable.scss';

.pizza-price {
  font-size: 22px;
  font-weight: $font-weight-bold;
  color: $secondary-color;
}

.container-pizza {
  background-color: $pizza-card-background;
  padding-bottom: 24px;
  border-radius: 8px;
  margin-bottom: 24px;
}

.pizza-name {
  font-size: 24px;
  font-weight: $font-weight-bold;
}