<div class="container-pizza text-center">
  <img [src]="pizza.imageUrl" 
  (load)="onImageLoad($event)"
  (error)="onErrorLoadImage()"
  class="w-100" alt="">
  <p class="pizza-name">{{pizza.name}}</p>
  <p>{{pizza.description}}</p>
  <p class="pizza-price">${{pizza.price}}</p>
  <div class="container-pizza-buttons d-grid gap-2 px-5">
    <button class="btn btn-pz-secondary" (click)="redirectToPizzaInformation(pizza)">See Toppings</button>
  </div>
</div>
