<div class="row justify-content-center" *ngIf="loading">
  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 max-width" data-aos="fade-up" *ngFor="let item of [].constructor(4)">
    <div class="text-center" *ngIf="loading">
      <ngx-skeleton-loader count="1"    
        [theme]="{height:'150px', width:'150px'}"
        appearance="circle"></ngx-skeleton-loader>
      <ngx-skeleton-loader count="5"></ngx-skeleton-loader>
    </div>
  </div>
</div>