<div class="modal-dialog modal-dialog-centered" *ngIf="pizza">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="addPizzaLabel">Edit Pizza</h4>
    </div>
    <div class="modal-body">
      <form #f="ngForm" [formGroup]="form">
        <div class="mb-3" [ngClass]="displayFieldCss('nameValidator')">
          <label class="form-label">Name <span class="field_requiered">*</span></label>
          <input type="text" 
            formControlName="nameValidator"
            [(ngModel)]="pizza.name" class="form-control">
          <app-field-error-display 
            [displayError]="isFieldValid('nameValidator')" 
            errorMsg="Pizza name is requiered.">
          </app-field-error-display>
        </div>
        <div class="mb-3" [ngClass]="displayFieldCss('descriptionValidator')">
          <label class="form-label">Description <span class="field_requiered">*</span></label>
          <textarea type="text"
            formControlName="descriptionValidator"
            [(ngModel)]="pizza.description" class="form-control"></textarea>
          <app-field-error-display 
            [displayError]="isFieldValid('descriptionValidator')" 
            errorMsg="A short description for the pizza is requiered.">
          </app-field-error-display>
        </div>
        <div class="mb-3" [ngClass]="displayFieldCss('priceValidator')">
          <label class="form-label">Price in $ <span class="field_requiered">*</span></label>
          <input type="number" 
            formControlName="priceValidator"
            [(ngModel)]="pizza.price" class="form-control">
          <app-field-error-display 
            [displayError]="isFieldValid('priceValidator')" 
            errorMsg="Price is requiered.">
          </app-field-error-display>
        </div>
        <div class="mb-3" [ngClass]="displayFieldCss('imageUrlValidator')">
          <label class="form-label">Image Url</label>
          <input type="text" 
            formControlName="imageUrlValidator"
            [(ngModel)]="pizza.imageUrl" class="form-control">
          <app-field-error-display 
            [displayError]="isFieldValid('imageUrlValidator')" 
            errorMsg="Image Url should not have more than 250 characters">
          </app-field-error-display>
        </div>
        <label class="form-label">Toppings</label>
        <ng-select 
          [items]="dropdownList"
          [multiple]="true"
          formControlName="toppingsValidator"
          [closeOnSelect]="false"
          bindLabel="name"
          placeholder="Select toppings"
          [(ngModel)]="toppings">
      </ng-select>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-pz-modal-secondary" #closebutton (click)="resetFormValidators()" data-bs-dismiss="modal">Cancel</button>
      <button type="button" class="btn btn-pz-modal-primary" (click)="onSubmit()">Update</button>
    </div>
  </div>
</div>