@import '../colors.scss';

.btn {
  color: $white-color;
  padding: 8px 24px;
  transition: 0.2s;
}

.btn-pz-primary {
  background: $primary-color;
  border: 2px solid $primary-color;
}

.btn-pz-primary:hover {
  background: $white-color;
  border: 2px solid $primary-color;
  color: $primary-color;
}

.btn-pz-secondary {
  background: $secondary-color;
  border: 2px solid $secondary-color;
}

.btn-pz-secondary:hover {
  background: $white-color;
  border: 2px solid $secondary-color;
  color: $secondary-color;
}

.nav-link {
  padding: 8px 24px !important;
  transition: 0.2s !important;
}

.nav-link.active  {
  background-color: $primary-color !important;
  color: $white-color;
}

.nav-link, .nav-link:hover {
  color: $primary-color;
}

.icon-edit {
  color: $primary-color;
}

.icon-delete {
  color: $danger-color;
}