@import "../colors.scss";
@import "../variable.scss";

.btn-pz-modal-primary {
  background: $primary-color;
  border: 2px solid $primary-color;
  color: $white-color !important;
}

.btn-pz-modal-secondary {
  background: $white-color;
  border: 2px solid $primary-color;
  color: $primary-color;
}

.modal-title {
  font-weight: $font-weight-bold;
}

.modal-header,
.modal-footer {
  border: none !important;
}

input.ng-invalid.ng-touched {
  border: 1px solid $error-color;
}

textarea.ng-invalid.ng-touched {
  border: 1px solid $error-color;
}

.control-label.required:after {
  color: $error-color;
  content: "*";
  margin-left: 5px;
  top: 7px;
}

.field_requiered {
  color: $error-color;
}

.modal-content {
  padding: 12px 12px !important;
}