@import '../colors.scss';
@import '../variable.scss';

h1 {
  font-weight: $font-weight-black;
  color: $font-text-color;
  line-height: 64px;
  font-size: 56px;
}

h2 {
  font-weight: $font-weight-bold;
  color: $font-text-color;
  line-height: 42px;
  font-size: 42px;
}

h3 {
  font-weight: $font-weight-bold;
  color: $font-text-color;
  line-height: 32px;
  font-size: 32px;
}

.text-color-secondaty {
  color: $secondary-color;
}