@import '../../../../assets/styles/colors.scss';
@import '../../../../assets/styles/variable.scss';

.container-pizza__toppings-title {
  font-weight: $font-weight-bold;
}

.icon-dot {
  color: $secondary-color;
}

.container {
  height: 75vh;
}

.pizza-image-size {
  min-height: 70vh;
}