<div class="container my-4" data-aos="fade-up" data-aos-duration="800" *ngIf="!loading">
  <div class="row justify-content-center my-3 py-4 m-auto">
    <div class="col-lg-6 col-sm-12">
      <img class="w-100 h-100 m-auto pizza-image-size" 
        [src]="pizzaFlavor.pizza.imageUrl"
        (error)="onErrorLoadImage()"
        alt="">
    </div>
    <div class="col-lg-6 col-sm-12 d-flex" *ngIf="pizzaFlavor.pizza">
      <div class="container-pizza__infomration m-auto ms-0">
        <h2>{{pizzaTitle + ' ' +  pizzaFlavor.pizza.name | titlecase}} </h2>
        <p>{{pizzaFlavor.pizza.description}}</p>
        <div class="container-pizza__toppings" *ngIf="pizzaFlavor.toppings.length >= 1">
          <h5 class="container-pizza__toppings-title icon-dot py-2">{{toppingsTitle}}</h5>
          <div class="container-pizza__toppings-row" *ngFor="let topping of pizzaFlavor.toppings">
            <h6 class="container-pizza__toppings-title "><span class="material-icons icon-dot icon-12"> fiber_manual_record </span>
              {{topping.name}}</h6>
            <p>{{topping.description}}</p>
          </div>
        </div>
        <h5 class="container-pizza__toppings-title icon-dot py-2">Price ${{pizzaFlavor.pizza.price}}</h5>
        <button class="btn btn-pz-primary" (click)="backToMenu()">Back to Menu</button>
      </div>
    </div>
  </div>
</div>