@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap");
@import '../colors.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

html, body {
  background-color: $white-color;
}

.icon-12 {
  font-size: 12px;
}

.icon-18 {
  font-size: 18px;
}

.cursor-pointer {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: $color-scroll;
  height: 6px;
}

/* Firefox scroll styles */
* {
  scrollbar-width: thin;
  scrollbar-color: $color-scroll transparent;
}