<div class="col-12 d-flex justify-content-between py-3">
  <h3>Toppings List</h3>
  <button class="btn btn-pz-primary" data-bs-toggle="modal" data-bs-target="#addTopping">Add new Topping</button>
</div>
<div class="table-responsive col-12">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nro</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col col-actions">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let topping of toppings; ; let i = index" [attr.data-index]="i">
        <th scope="row">{{i + 1}}</th>
        <td>{{topping.name}}</td>
        <td>{{topping.description}}</td>
        <td class="col-actions">
          <div class=""> 
            <span class="material-icons-outlined icon-18 cursor-pointer icon-edit"
              (click)="onSelectTopping(topping)" data-bs-toggle="modal" data-bs-target="#updateTopping">edit</span>
            <span class="material-icons-outlined icon-18 cursor-pointer icon-delete"
              (click)="onSelectTopping(topping)" data-bs-toggle="modal" data-bs-target="#deleteTopping">delete</span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>



<div class="modal fade" id="addTopping" 
  data-bs-backdrop="static"
  data-bs-keyboard="false" 
  tabindex="-1"
  aria-labelledby="addToppingLabel" aria-hidden="true">
  <app-topping-add
    (responseToppingPost)="addToppingToList($event)"
  ></app-topping-add>
</div>

<div class="modal fade" id="deleteTopping" 
  data-bs-backdrop="static"
  data-bs-keyboard="false" 
  tabindex="-1"
  aria-labelledby="deleteToppingLabel" aria-hidden="true">
  <app-delete-confirmation
    [modalData]="modalData"
    (confirmDelete)="deleteTopping($event)"
  ></app-delete-confirmation>
</div>

<div class="modal fade" id="updateTopping" 
  data-bs-backdrop="static"
  data-bs-keyboard="false" 
  tabindex="-1"
  aria-labelledby="updateToppingLabel" aria-hidden="true">
  <app-topping-update
    [topping]="toppingSelected"
    (responseToppingPut)="updateTopping($event)"
  ></app-topping-update>
</div>