<div class="row justify-content-center" *ngIf="!loading">
  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 max-width" data-aos="fade-up" *ngFor="let pizza of pizzas">
    <app-pizza-card [pizza]="pizza"></app-pizza-card>
  </div>
</div>