<div class="container d-flex" data-aos="fade-up" data-aos-duration="800">
  <div class="conatiner-not-found__page text-center m-auto">
    <img [src]="pageNotFound.iconUrl" class="icon-size" alt="">
    <h1> {{pageNotFound.title}}</h1>
    <p> {{pageNotFound.status}}</p>
    <div class="btn btn-pz-primary" (click)="redirectTo(pageNotFound.button.url)">{{pageNotFound.button.label}}</div>
  </div>
</div>