<div class="container" data-aos="fade-up" data-aos-duration="800">
  <div class="conatiner-store__title text-center py-5">
    <h2>Pizza Menu</h2>
  </div>

  <app-pizza-card-skeleton [loading]="loading"></app-pizza-card-skeleton>
  <app-pizza-collection [loading]="loading" [pizzas]="pizzas"></app-pizza-collection>
</div>