$font-text-color: #2e2e2e;
$primary-color: #233d4d;
$pizza-card-background: #f4f5f6;
$secondary-color: #fe9653;
$third-color: #fde8c9;
$white-color: #ffffff;
$error-color: #ff2222;
$danger-color: #d33c41;
$color-scroll: #ABAAAA;
