<div class="container my-4 py-4" data-aos="fade-up" data-aos-duration="800" *ngIf="loading">
  <div class="row justify-content-center my-3 py-4 mx-5 px-5">
    <div class="col-6 d-flex">
      <ngx-skeleton-loader count="1" 
        [theme]="{height:'350px', width:'350px', margin:'auto'}" 
        appearance="circle">
      </ngx-skeleton-loader>
    </div>
    <div class="col-6">
      <ngx-skeleton-loader count="10"></ngx-skeleton-loader>
    </div>
  </div>
</div>