<div class="container py-4">
  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist" data-aos="fade-up" data-aos-duration="800">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="pills-pizzas-tab" data-bs-toggle="pill" data-bs-target="#pills-pizzas" type="button" role="tab" aria-controls="pills-pizzas" aria-selected="true">Pizzas</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-toppings-tab" data-bs-toggle="pill" data-bs-target="#pills-toppings" type="button" role="tab" aria-controls="pills-toppings" aria-selected="false">Toppings</button>
    </li>
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-pizzas" role="tabpanel" aria-labelledby="pills-pizzas-tab">
      <app-pizza-table></app-pizza-table>
    </div>
    <div class="tab-pane fade" id="pills-toppings" role="tabpanel" aria-labelledby="pills-toppings-tab">
      <app-topping-table></app-topping-table>
    </div>
  </div>
</div>